<form action="/new" method="GET">
  <button type="submit">New Game</button>
</form>
<form action="/play" method="GET">
  <input name="room" type="number" min="1000" max="9999" placeholder='Ex. "1234"'>
  <button type="submit">Get Game</button>
</form>