<input id="room" type="hidden" value={{room}}>

<form id="form">
  <input type="text" id="username">
  <button id="setUser">Set username</button>
</form>
<div>
  <h1>Players</h1>
  <ul id="players"></ul>
</div>

<div id="menu">
  <button id="start" disabled>Start Game</button>
</div>

<div id="game">
  <ul id="played"></ul>
  <button id="play" class="turn">Play</button>
  <button id="slap">Slap</button>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
